:root {
  --palette-one: #5cc231;
  --palette-second: #a5f5dc;
  --palette-featured: #65af75;
  --palette-social: #5da06b;
}

body {
  color: white;
  background-color: white;
  background-image: linear-gradient(to bottom, var(--palette-one), var(--palette-second));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 33px);
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 25px;
}

h2 {
  letter-spacing: 5px;
  text-transform: capitalize;
}

a, a.featured, .socials a {
  &:hover {
    background: white;
    color: black;
    transition: all 0.5s ease-out;
  }
}

a {
  display: block;
  border: 2px solid white;
  border-radius: 50px;
  padding: 15px 10px;
  margin: 0 auto 15px;
  max-width: 500px;
  text-decoration: none;
  color: white;
}

a.featured {
  position: relative;
  background-color: var(--palette-featured);
  border: none;

  &:before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    width: calc(100% - 13px);
    height: calc(100% - 13px);
    border: 2px solid white;
    border-radius: 50px;
  }
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: normal;
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    background-color: var(--palette-social);
    margin: 0 5px 5px;
    min-width: 100px;
  }
}
